h1 {
	background-image: url("paper.gif");
    color: #0000B2;
    text-align: center;
	font-family: 'Black Ops One', cursive;
    font-size: 50px; 
}

p{
    text-align: middle;
	font-family: 'Inconsolata', ;
    font-size: 20px; 
}

body {
	background-color: #EBF5FF; 
	text-align: center;
	border: 10px white; 
}

div#game {
	border: 25px solid black; 
	width: 900px;
	margin-right: auto;
	margin-left: auto ;
}

p {
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
}






